.asset-image {
  position: relative;
}
.asset-image .offline-cache-badge {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: #263641e8;
  color: var(--warning-text);
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 10px;
}
